*.orig
.gradle/*
logs
*.iml
*.orig
*.txt
*.ipr
*.iws
*.log
.idea
build.gradle
degub.keystore
gradle.properties
gradlew
gradlew.bat
local.properties
settings.gradle
*.log
target
test-output
*.out
*.zip
