*.orig
.gradle/*
logs
*.iml
*.orig
*.txt
*.ipr
*.iws
test_data
*.log
.idea
.DS_Store
*.log
debug.sh
dependency-reduced-pom.xml
src/main/resources/dev/mongodb.properties
target
test-output
src/main/resources/dev/mongodb.properties
*.pyc
*.py~
*.html~
*.swp
*.py~
*.out
*.zip
